---
version: "3.8"

services:
  389ds-mdb:
    # Using dirsrv with LMDB support by default
    image: 389ds/dirsrv:3.0
    container_name: 389ds-mdb
    ports:
      - "3389:3389"
    environment:
      DS_DM_PASSWORD: "12345678"
      SUFFIX_NAME: "dc=example,dc=com"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh:ro
    entrypoint: /app/entrypoint.sh
    healthcheck:
      test: ["CMD-SHELL", "dsconf localhost backend suffix list | grep -w $$SUFFIX_NAME"]
      interval: 5s
      timeout: 3s
      retries: 12

  389ds-exporter-mdb:
    image: vectinx/389-ds-exporter:latest
    container_name: 389ds-exporter-mdb
    ports:
      - "9389:9389"
    volumes:
      - ./config-mdb.yml:/app/config-mdb.yml:ro
      - ./web-config.yml:/app/web-config.yml:ro
      - ./ssl/389ds-exporter-mdb.pem:/etc/ssl/private/exporter.pem:ro
      - ./ssl/389ds-exporter-mdb.crt:/etc/ssl/certs/exporter.crt:ro
    command: ["--config.file", "/app/config-mdb.yml", "--web.config.file", "/app/web-config.yml"]
    depends_on:
      389ds-mdb:
        condition: service_healthy

  389ds-bdb:
    # Using dirsrv with BDB support by default
    image: 389ds/dirsrv:2.4
    container_name: 389ds-bdb
    ports:
      - "3390:3389"
    environment:
      DS_DM_PASSWORD: "12345678"
      SUFFIX_NAME: "dc=example,dc=com"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh:ro
    entrypoint: /app/entrypoint.sh
    healthcheck:
      test: ["CMD-SHELL", "dsconf localhost backend suffix list | grep -w $$SUFFIX_NAME"]
      interval: 5s
      timeout: 3s
      retries: 12

  389ds-exporter-bdb:
    image: vectinx/389-ds-exporter:latest
    container_name: 389ds-exporter-bdb
    ports:
      - "9390:9389"
    volumes:
      - ./config-bdb.yml:/app/config-bdb.yml:ro
      - ./web-config.yml:/app/web-config.yml:ro
      - ./ssl/389ds-exporter-bdb.pem:/etc/ssl/private/exporter.pem:ro
      - ./ssl/389ds-exporter-bdb.crt:/etc/ssl/certs/exporter.crt:ro
    command: ["--config.file", "/app/config-bdb.yml", "--web.config.file", "/app/web-config.yml"]
    depends_on:
      389ds-bdb:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:v3.5.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./ssl/ca.crt:/etc/ssl/certs/ca.crt:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"

  grafana:
    image: grafana/grafana:10.2.3
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning/:ro
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_USERS_DEFAULT_THEME=light
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # Service container for configuring grafana after launch
  dashboard-init:
    image: curlimages/curl
    container_name: dashboard-init
    depends_on:
      grafana:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
        wget https://github.com/vectinx/389-ds-exporter/releases/latest/download/dashboard.json -O /tmp/dashboard.json &&
        echo '{\"dashboard\": ' > /tmp/payload.json &&
        cat /tmp/dashboard.json >> /tmp/payload.json &&
        echo ', \"overwrite\": true, \"folderId\": 0 }' >> /tmp/payload.json &&
        cat /tmp/payload.json &&
        curl -X POST -H \"Content-Type: application/json\" -d @/tmp/payload.json http://grafana:3000/api/dashboards/db
        curl -X PUT http://grafana:3000/api/org/preferences -H \"Content-Type: application/json\" -d '{ \"homeDashboardUID\": \"389-ds-exporter\" }'
        "
